.init{
    margin-top: 20px;
}

.centered{
    margin: auto;
}

.navMargin{
    margin-top: 20px;
}

h1.logo{
    text-align: center;
}

.navBar{
    text-align: center;
    color: grey
    
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0px; 
}

a{
    font-family: Georgia Regular;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.vertical{
    height: 30px;
    border-left: 1px solid;
}

a:hover{
    font-weight: bold;
}

a.linkNav{
    margin-left: 13px;
    margin-right: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: grey;
}

.textoDireita{
    text-align: right;
}

div#banner{
    background-image:  url("img/banner.jpg");
    height: 497px;
}

div#categoria1{
    background-image:  url("img/iluminacao.jpg");
    margin-right: 75px;
}

div#categoria2{
    background-image:  url("img/sustentoliquido.jpg");
    margin-right: 75px;
}

div#categoria3{
    background-image:  url("img/chaecafe.jpg");
   
}

div.categorias{
    margin-top: 40px;
    height: 472px;
    width: 330px;
    text-align: center;
    font-family: Roboto Thin;
    font-size: 40px;
    color: white;
}

.linkCategoria{
    color:white;
    font-weight: bold;
    font-size: 15px;
    font-family: inherit;
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color: white;
}

.destaque{
    text-align: center;
    font-size: 30px;
    font-family:  Roboto Thin;
    font-weight: bold;
}

.titulo{
    font-family:  Roboto Thin;
    font-size: 52px;
    color: white;
}

h3{
    font-size: 30px;
    margin-bottom: -15px;
    margin-top: 71%;
}

h1.titulo{
    margin-top: 17%;
}

.secao3{
    margin-top: 30px;
    margin-bottom: 10px;
}

.barra{
    margin-top: 8.5px;
    padding-left: 0px;
    padding-right: 0px;
}

.botao{
    padding: 10px 30px;
    background-color: transparent;
    border: 1.5px solid white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 30px

}

div.produtos{
    margin-top: 20px;
    height: 428px;;
    border: 1px solid #ccc;
    width: 250px;
    margin-bottom: 20px;
}

div#p1{
    background-image:  url("img/produto1.jpg");
    margin-right: 35px;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

div#p2{
    background-image:  url("img/produto2.jpg");
    margin-right: 35px;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

div#p3{
    background-image:  url("img/produto3.jpg");
    margin-right: 35px;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

div#p4{
    background-image:  url("img/produto4.jpg");
    margin-right: 35px;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

#qnte{
    color: grey;
}

#preco{
    color: red;
}

.pTitulo{
    margin-top: 270px;
    font-size: 20px;
    font-family:  Roboto Thin;
    font-weight: bold;
}
.preco{

    font-family: Open Sans;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -5px;
}

.emPromocao{
    text-decoration:line-through;
    font-weight: bold;
}

.comprar{
    background-color: transparent;
    border: 1.5px solid black;
    font-family:  'PT Sans Narrow Bold';
    font-weight: bold;
    margin: auto;
    position:absolute; 
    left:50%;
    margin-left:-50px;
    padding: 5px 20px;
}

.comprar2{
    background-color: transparent;
    border: 1.5px solid black;
    font-family: 'PT Sans Narrow Bold';
    font-weight: bold;
    margin: 30px auto auto auto;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    padding: 5px 20px;
    
}

.line2{
   
    height: 296px;
    margin-bottom: 20px;
}

#champ{
    background-image: url(img/s2.jpg);
}

#escritorio{
    background-image: url(img/s3.jpg);
}

#vertirAMesa{
    height: 612px;
    background-image:  url("img/s1.jpg");
    padding-top: 50%;
}

.secao4{
    text-align: center;
    font-family: Roboto Thin;
    font-size: 30px;
    color: white;
    padding-top: 20%;
}

.noPaddingRight{
    padding-right: 0px;
}

.linkCategoria4{
    color:white;
    font-weight: bold;
    font-size: 11px;
    font-family: inherit;
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color: white;
}

.s4{
    padding-left: 0px;
}

p.tituloSecao4{
    margin-bottom: -20px;
}

.secao5{
    width: 1170px;
    background-image: url(img/newsletter.jpg);
    text-align: center;
    font-family: Roboto Thin;
    font-size: 30px;
    color: white;
    
    margin-top: 10px;
}
.menor{
    font-size: 16px;
}

#email::-webkit-input-placeholder{
    color:black;
    text-align: center;
    font-weight: bold;
}

#email{
    width: 1110px;
    height: 50px;
}

.btn2{
    font-weight: bold;
    padding: 5px 60px;
    margin-bottom: 55px;
    margin-top: 35px;
}

.secao6{
    text-align: center;
    font-size: 25px;
}

.textoS6{
    font-size: 12px;
    margin-bottom: 90px;
}

.imgm{
    margin-top: 70px;
    margin-bottom: 30px;
    vertical-align: middle;
}

.fTitulo{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.final{
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    height: 50px;
    padding-top: 15px;
}

.rodape{
    font-size: 10px;
    margin: 20px 0px;
    text-align: center;
}

p.obs{
    font-size: 11px;
}